

/* src/index.css */
@import "leaflet/dist/leaflet.css";

body, html, #root {
  height: 100%;
  margin: 0;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: #f6f8fb;
}

.vehicle-div-icon div {
  transition: transform 120ms linear;
}

h2 {
  margin: 6px 0;
  font-size: 18px;
}
